:where(body > header nav) {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
:where(body > header nav ul) {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
